@charset "utf-8";
@font-face {
    font-family: 'NotoSansCJKjp-Bold';
    src: url('../font/NotoSansCJKjp-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'NotoSansCJKjp-Regular';
    src: url('../font/NotoSansCJKjp-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Koruri-Light';
    src: url('../font/Koruri-Light.ttf') format("opentype");
}

html,
body {
    font-family: 'Koruri-Regular' sans-serif, '微軟正黑體', Microsoft JhengHei;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* font-size */

html {
    font-size: 62.5%;
}

.bold_font {
    font-family: 'NotoSansCJKjp-Bold', sans-serif, '微軟正黑體', Microsoft JhengHei;
    font-weight: bold;
}

.regular_font {
    font-family: 'NotoSansCJKjp-Regular', sans-serif, '微軟正黑體', Microsoft JhengHei;
    letter-spacing: 1px;
}

.light_font {
    font-family: 'Koruri-Light', sans-serif, '微軟正黑體', Microsoft JhengHei;
    letter-spacing: 1px;
    line-height: 1.5;
}

.title_size {
    font-size: 4.5rem;
}

.subtitle_size {
    font-size: 2.5rem;
}

.p_size {
    font-size: 1.4rem;
}

.others_size {
    font-size: 1.2rem;
}

@media screen and (min-width: 1600px) {
    /*html {
        font-size: 62.5%;
    }*/
    .title_size {
        font-weight: bold;
        font-size: 3.2rem;
    }
    .subtitle_size {
        font-size: 1.8rem;
    }
    .p_size {
        font-size: 1.6rem;
    }
    .others_size {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .title_size {
        font-weight: bold;
        font-size: 3rem;
    }
    .subtitle_size {
        font-size: 1.8rem;
    }
    .p_size {
        font-size: 1.4rem;
    }
    .others_size {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .title_size {
        font-weight: bold;
        font-size: 3rem;
    }
    .subtitle_size {
        font-size: 1.6rem;
    }
    .p_size {
        font-size: 1.4rem;
    }
    .others_size {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .title_size {
        font-weight: bold;
        font-size: 2.5rem;
    }
    .subtitle_size {
        font-size: 1.4rem;
    }
    .p_size {
        font-size: 1.2rem;
    }
    .others_size {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .title_size {
        font-weight: bold;
        font-size: 2.5rem;
    }
    .subtitle_size {
        font-size: 1.3rem;
    }
    .p_size {
        font-size: 1.1rem;
    }
    .others_size {
        font-size: 1.1rem;
    }
}